
    {{>navbar}}

    {{!-- herosection  --}}
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
    {{!-- left section  --}}
                    
                    <div class="col-md-6 col-12 mt-5 hero-text order-md-0 
                     order-1 d-flex flex-column justify-content-center align-items-start flex-coloumn">
                        <h3>Hey, This is me </h3>
                        <h1>HIMANSHU ANAND</h1>
                        <p>I'm Himanshu Anand.A Full Stack Developers and Software Developer.  With A Solid Foundation In Programming Languages Such A C++, JavaScript & React. </p>
                        <a href="https://drive.google.com/file/d/1xra_BcHYCsmcD3roJ0lAAbY_PC54Vmnv/view?usp=drive_link" class="btn btn-style mt-3">Resume</a>
                    </div>

                {{!-- right section  --}}

                    <div class="col-md-6 col-12 hero-img order-md-1 order-0">
                        <figure class="figure" >
                            <img class="ms-5" src="images/my.png" alt="hero_picture">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{!-- about us section  --}}
    {{>about}}

    {{!-- service section   --}}
    {{>service}}

    {{!-- map section  --}}
    {{>map}}

    {{!-- contact section  --}}
    {{>contact}}

    {{!-- footer section  --}}
    {{>footer}}

