<div class="container-fluid mt-10 about-style " id="about">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">About Us</h1>
      <p class="text-center sub-heading">grow your business with us</p>
      <div class="row">
        {{! left section  }}
        <div class="col-md-6 col-12 hero-img order-0">
          <figure class="figure">
            <img src="images/dev.png" class="img-fluid" alt="hero_picture" />
          </figure>
        </div>

        {{! right section  }}

        <div
          class="col-md-6 col-12 mt-5 order-1 hero-text d-flex flex-column justify-content-center align-items-start flex-coloumn"
        >
          <h1>WE ARE THE PROFESSIONAL DEVELOPER 🔥</h1>
          <p>Welcome To
            <span class="bold-style">HEEMAN</span>, Your Number One Source For
            All The Thing. We're Dedicated To Giving You The Best Of Work, With
            A Focus On [Three Characteristics: Dependability, Customer Service &
            Uniqueness.]</p>
          <button type="button" class="btn btn-style mt-3">Read Me</button>
        </div>
      </div>
    </div>
  </div>
</div>