   <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>

    <footer class="footer">
        <div>&copy; 2023 Himanshu Portfolio. All rights reserved.</div>
    </footer>
</body>
</html>